// Variables
// -------------------------------------------

$round-placeholder:   false;       // Do you want to use placeholders?
$round-value:         4px;         // Define your radius value
$round-prefix:        webkit moz;  // Define your vendors



// Which objects would you like to use?
// -------------------------------------------

$round-circle:        true;
$round-top:           true;
$round-right:         true;
$round-bottom:        true;
$round-left:          true;



// Mixins
// -------------------------------------------

// Vendor-prefixed CSS
@mixin vendor($property, $prefix, $value...) {

    @each $item in $prefix {
        -#{$item}-#{$property}: $value;
    }
    #{$property}: $value;

}

// Border Radius
@mixin round-init($typeClass) {

        #{$typeClass}round                { @include vendor(border-radius, $round-prefix, $round-value); }

    @if ($round-circle == true) {
        #{$typeClass}round--circle        { @include vendor(border-radius, $round-prefix, 50%); }
    }

    @if ($round-top == true) {
        #{$typeClass}round--top           { @include vendor(border-radius, $round-prefix, $round-value $round-value 0 0); }
        #{$typeClass}round--top-right     { @include vendor(border-top-right-radius, $round-prefix, $round-value); }
        #{$typeClass}round--top-left      { @include vendor(border-top-left-radius, $round-prefix, $round-value); }
    }

    @if ($round-right == true) {
        #{$typeClass}round--right         { @include vendor(border-radius, $round-prefix, 0 $round-value $round-value 0); }
    }

    @if ($round-bottom == true) {
        #{$typeClass}round--bottom        { @include vendor(border-radius, $round-prefix, 0 0 $round-value $round-value); }
        #{$typeClass}round--bottom-right  { @include vendor(border-bottom-right-radius, $round-prefix, $round-value); }
        #{$typeClass}round--bottom-left   { @include vendor(border-bottom-left-radius, $round-prefix, $round-value); }
    }

    @if ($round-left == true) {
        #{$typeClass}round--left          { @include vendor(border-radius, $round-prefix, $round-value 0 0 $round-value); }
    }

}

/**
 *
 * Create a Border Radius object
 * --------------------------------------------------
 *
 * How to use:
 *
   @if ($round-placeholder == true) {

       @include round-init('%'); // Using placeholder

   } @else {

       @include round-init('.'); // Using class

   }
 *
 *
 * Description:
 *
 * Where `$round-placeholder` is a boolean value
 * TRUE  : will use a placeholder for the object created
 * FALSE : will use a class for the object created
 *
 */
